<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Monitor</title>
</head>
<body>
    <header>
        <h1>Monitor de base de datos Oracle</h1>
    </header>
    <section class="grafico"> 
        <h2>Tasa de hits en el buffer cache</h2>
        <article> <!--Articulo donde se visualiza el gráfico dinámico-->

        </article>
    </section>
    <section class="descripcion_grafico">
        <p>
            Lecturas Lógicas: 
            Lecturas Físicas: 
            Tasa de Hit: 
        </p>
    </section> 
    <footer>
        <aside>
            <b>Desarrollado por:</b>
            <p>
                Abigail Salas Ramírez <br>
                Joseph Piñar Baltodano <br>
                Gianpablo Moreno Casto
            </p>
        </aside>
        
    </footer>
</body>
</html>