<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Monitor</title>
</head>
<body>
    <header>
        <h1>Monitor de base de datos Oracle</h1>
    </header>
    <section class="grafico"> 
        <h2>Tasa de hits en el buffer cache</h2>
        <div id="graph"><!--Monitoreo Tasa de HITS-->
        </div>
    </section>
    </br>
    <section class="descripcion_grafico">
        <p>
            Lecturas Lógicas: <span id="lecturas_logicas"></span><br>
            Lecturas Físicas: <span id="lecturas_fisicas"></span><br>
            Tasa de Hit: <span id="tasa_hit"></span>%
        </p>
    </section> 
    <section class="grafico"> 
        <h2>Tablespaces</h2>
        <div id="graph_tablespaces"><!--Monitoreo Tablespaces-->
        </div>
    </section>
    <section class="estructuraFisica"> 
        <h2>Estructura Fisica</h2>
        <div id="section_estructuraFisica"><!--Monitoreo RedoLogs-->
        </div>
    </section>
    </br>
    <footer>
        <aside>
            <b>Desarrollado por:</b>
            <p>
                Abigail Salas Ramírez <br>
                Joseph Piñar Baltodano <br>
                Gianpablo Moreno Casto
            </p>
        </aside>
    </footer>
</body>
</html>

