<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Monitor</title>
</head>
<body>
    <header>
        <h1>Monitor de base de datos Oracle</h1>
    </header>
    <section class="grafico"> 
        <h2>Tasa de hits en el buffer cache</h2>
        <div id="graph"><!--Articulo donde se visualiza el gráfico dinámico-->
            <script>
                async function fetchData() {
                    const response = await fetch('/data');
                    const data = await response.json();
                    return data;
                }
                async function updateGraph() {
                    const data = await fetchData();
                    const fechas = data.fecha*1000;
                    const tasa_hits = data.tasa_hit;    
                    const lecturas_fisicas = data.lecturas_fisicas;
                    const lecturas_logicas = data.lecturas_logicas;
                    
                    console.log(tasa_hits)

                    const trace1 = { x: fechas, y: tasa_hits, name: 'Tasa de Hit', type: 'scatter' };
                    const trace2 = { x: fechas, y: lecturas_fisicas, name: 'Lecturas Físicas', type: 'scatter' };
                    const trace3 = { x: fechas, y: lecturas_logicas, name: 'Lecturas Lógicas', type: 'scatter' };
            
                    const layout = { title: 'Tasa de Hit y Lecturas', xaxis: { title: 'Segundos' }, yaxis: { title: 'Valores' } };
                    Plotly.newPlot('graph', [trace1, trace2, trace3], layout);
                    
                    document.getElementById('lecturas_logicas').innerText = lecturas_logicas[lecturas_logicas.length - 1];
                    document.getElementById('lecturas_fisicas').innerText = lecturas_fisicas[lecturas_fisicas.length - 1];
                    document.getElementById('tasa_hit').innerText = tasa_hits[tasa_hits.length - 1];
                }
            
                // Actualiza el gráfico cada 5 segundos
                setInterval(updateGraph, 5000);
            
               // Llamar a la función una vez para cargar inicialmente
                updateGraph();
            </script>
        </div>
    </section>
    <section class="descripcion_grafico">
        <p>
            Lecturas Lógicas: <span id="lecturas_logicas: "></span>
            Lecturas Físicas: <span id="lecturas_fisicas"></span>
            Tasa de Hit: <span id="tasa_hit"></span>%
        </p>
    </section> 
    <footer>
        <aside>
            <b>Desarrollado por:</b>
            <p>
                Abigail Salas Ramírez <br>
                Joseph Piñar Baltodano <br>
                Gianpablo Moreno Casto
            </p>
        </aside>
        
    </footer>
</body>
</html>

